<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
        point="org.eclipse.core.runtime.applications"
        id="org.jboss.tools.rsp.server.liberty.custom.application">
        <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
                  <run class="org.jboss.tools.rsp.server.liberty.custom.impl.EntryPoint"/>
        </application>
    </extension>
    <extension
        point="org.eclipse.core.runtime.products"
        id="org.jboss.tools.rsp.server.liberty.custom.product">
        <product
            name="RSP Liberty"
            application="org.jboss.tools.rsp.server.liberty.custom.application">
        </product>
    </extension>
</plugin>