<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.applications"
         id="org.jboss.tools.rsp.server.product.application">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run class="org.jboss.tools.rsp.server.application.RSPProductApplication"/>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products"
         id="org.jboss.tools.rsp.server.product">
      <product
            name="Runtime Server Protocol Equinox Server"
            application="org.jboss.tools.rsp.server.product.application">
         <property
               name="aboutText"
               value="Runtime Server Protocol server packaged for the Equinox runtime."/>
      </product>
   </extension>
</plugin>
