<?xml version="1.0" encoding="UTF-8"?>
<target name="Example Target Platform" sequenceNumber="1">
  <locations>

    <location type="InstallableUnit"
    includeMode="planner"
    includeAllPlatforms="false"
    includeSource="false">
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0" />
      <repository location="https://download.eclipse.org/eclipse/updates/4.35/" />
    </location>

    <location
      type="InstallableUnit"
      includeMode="planner"
      includeAllPlatforms="false"
      includeSource="false">
      <unit id="org.eclipse.platform.feature.group" />
      <unit id="org.eclipse.osgi.services" version="0.0.0" />
      <repository location="https://download.eclipse.org/releases/2025-03/" />
    </location>

    <location
      type="InstallableUnit"
      includeMode="planner"
      includeAllPlatforms="false"
      includeSource="false">
      <unit id="org.eclipse.wst.common_core.feature.feature.group" />
      <repository
        location="http://download.eclipse.org/webtools/downloads/drops/R3.40.0/S-3.40M2-20251030043528/repository" />
    </location>

    <location
      type="InstallableUnit"
      includeMode="planner"
      includeAllPlatforms="false"
      includeSource="false">
      <unit id="org.eclipse.jst.enterprise_core.feature.feature.group" />
      <unit id="org.eclipse.jst.web_core.feature.feature.group" />
      <unit id="org.eclipse.jsf.feature.feature.group" />
      <unit id="org.eclipse.jpt.jpa.feature.feature.group" />
      <repository
      location="https://download.eclipse.org/staging/2025-03" />
    </location>

    <location
      includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/jdtls/snapshots/repository/1.54.0.202511200503/" />
			<unit id="org.eclipse.jdt.ls.core" version="1.54.0.202511200503"/>
			<unit id="org.eclipse.lsp4j" version="0.0.0"/>
    </location>

		<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.jboss.org/jbosstools/updates/requirements/logback/1.2.3/" />

			<!-- qos.logback 1.2.3 requires org.slf4j.spi [1.7.10,1.8.0) -->
			<unit id="ch.qos.logback.classic" version="1.2.3" />
			<unit id="ch.qos.logback.core" version="1.2.3" />
			<unit id="slf4j.api" version="1.7.28" />
		</location>
    
		<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://download.jboss.org/jbosstools/updates/requirements/orbit/R20210825222808/" />
			  <unit id="org.apache.commons.compress" version="1.6.0.v201310281400" />
			  <unit id="org.tukaani.xz" version="1.9.0.v20210624-1259" />
    </location>
    
    <location
      type="InstallableUnit"
      includeMode="planner"
      includeAllPlatforms="false"
      includeSource="false">
        <unit id="com.ibm.ws.st.liberty.tools.base.feature.group" />
        <unit id="com.ibm.websphere.v85.core" />
        <unit id="com.ibm.websphere.v9.core" />
        <unit id="com.ibm.ws.ast.st.v85.core" />
        <unit id="com.ibm.ws.ast.st.v85.wdt" />
      <repository
        location="https://public.dhe.ibm.com/ibmdl/export/pub/software/websphere/wasdev/updates/wdt/2025-03/" />
    </location>

    <location
      type="InstallableUnit"
      includeMode="planner"
      includeAllPlatforms="false"
      includeSource="false">
      <unit id="org.jboss.tools.runtime.core.feature.feature.group" />
      <unit id="org.jboss.tools.foundation.feature.feature.group" />
      <unit id="org.jboss.ide.eclipse.as.feature.feature.group" />
			<repository location="https://download.jboss.org/jbosstools/static/photon/stable/updates/core/4.11.0.Final/" />
			<repository location="https://download.jboss.org/jbosstools/static/photon/stable/updates/central/4.11.0.Final/" />
			<repository location="https://download.jboss.org/jbosstools/targetplatforms/jbosstoolstarget/4.11.0.Final-SNAPSHOT/REPO/" />
			<repository location="https://download.jboss.org/jbosstools/targetplatforms/jbtcentraltarget/4.11.0.AM1-SNAPSHOT/REPO/" />
    </location>

  </locations>

</target> 
